<div class="expense-container">
  <h2 class="text-2xl font-bold mb-6 text-white">Expenses</h2>

  @if (isLoading) {
    <div class="loading-state">Loading ..... </div>
  }

  @if (errorMessage) {
    <div class="error-state">
      {{ errorMessage }}
    </div>
  }


  @if (!isLoading && !errorMessage) {
    <div class="rounded-lg border border-gray-700 overflow-hidden shadow-lg">
      <table class="table-base border-none">
        <thead class="table-header">
          <tr>
            <th class="table-cell font-semibold">Date</th>
            <th class="table-cell font-semibold">Title</th>
            <th class="table-cell font-semibold text-right">Amount</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-700 bg-gray-800">
          @for (expense of expenses; track expense.id ) {
            <tr class="expense-row">
              <td class="table-cell text-gray-300"> {{ expense.created_at | date:'mediumDate' }} </td>
              <td class="table-cell text-gray-100"> {{ expense.title }} </td>
              <td class="table-cell font-medium text-right text-gray-200"> {{ expense.amount | currency:'INR' }} </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="3" class="empty-state">
                No expenses found
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>